body{
  margin:0;
  font-family:Arial;
  background:#050b2c;
  color:white;
}

header{
  background:#020617;
  padding:10px;
}

header button{
  padding:8px 14px;
  margin-right:10px;
  cursor:pointer;
}

section{
  display:none;
  padding:20px;
}

section.active{
  display:block;
}

input,select{
  width:100%;
  margin:6px 0;
  padding:6px;
}

#inputVideo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;   /* kích thước nhỏ, giữ tỷ lệ */
  height: auto;
  border: 2px solid cyan;
  border-radius: 8px;
  z-index: 1000;
}


#quizBox{
  text-align:center;
}

#quizQuestion{
  font-size:24px;
  margin:10px 0;
}

#quizOptions button{
  display:block;
  margin:10px auto;
  padding:10px;
  font-size:18px;
  cursor:pointer;
  background:#0b1a3a;
  color:white;
  border:2px solid #1e90ff;
  transition:0.2s;
  width:auto;
  min-width:150px;
  padding:8px 12px;
}

/* Đúng */
#quizOptions button.correct{
  background:#00ff99;
  box-shadow:0 0 25px #00ff99;
}

/* Sai */
#quizOptions button.wrong{
  background:#ff4444;
  box-shadow:0 0 25px #ff4444;
}
